head, body {
  font-family: Cairo, TimesNewRoman, sans-serif;
  direction: rtl;
  text-align: right;
}

a {
  color: inherit!important;
  text-decoration: none!important;
}

.no_select
{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

#card_canvas {
  display: block;
  margin: 1vh auto;
  width: 70vh;
  height: 70vh;
  border: 1px solid black;
}